body {
    background-color:black;
    font-family: verdana;
    color:white;
}
h1{
    color:grey;
    text-align: center;
    font-size: 250%;
}
.maindiv{
    background-color: white;
    color: black;
    width: 650px;
    height: 320px;
    padding: 50px;
    border-radius: 25px;
    margin: 30px auto;
}
form{
    position: relative;
    left: 26%;
} 
footer{
    position: relative;
    text-align: left;
    bottom: -7%;
    left: -3.5%;  
} 
#principal{
    position: relative;
    left: 7%;
}
#years{
    position: relative;
    left: 2%;
}
#btn{
    cursor: pointer;
}
#btn:active + .maindiv{
    height: 420px;
}
.divHeight{
    height: 400px;
}